<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input
      type="text"
      placeholder="Buscar localização"
      [(ngModel)]="initialCityName"
      name="city"
    />

    <span (click)="onSubmit()">
      <fa-icon
        [icon]="searchIcon"
        class="search-icon"
        size="lg"
        style="--fa-animation-duration: 3s; cursor: pointer"
        animation="fade"
      ></fa-icon>
    </span>
  </form>
</div>

<app-weather-card
  *ngIf="weatherDatas"
  [weatherDatasInput]="weatherDatas"
></app-weather-card>
